@import "colors";

.btn {
  width: auto;
  min-width: 100px;
  height: 38px;
  padding: 3px 12px 6px;

  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  text-align: center;

  color: $whiteColor;

  cursor: pointer;

  &:hover {
    background-color: darken($primaryColor, 10%) !important;
    border: 1px solid darken($primaryColor, 10%) !important;
  }

  &:focus, &.focus {
    outline: 0;
  }

  @each $color, $value in $theme-colors {
    &.btn-#{$color} {
      background-color: $value !important;
      border: 1px solid $value !important;

      &:hover {
        background-color: darken($value, 10%) !important;
        border: 1px solid darken($value, 10%) !important;
      }
    }
    &.btn-outline-#{$color} {
      background-color: #fff !important;
      border: 1px solid $value !important;
      color: $value;

      &:hover {
        background-color: darken($value, 10%) !important;
        border: 1px solid darken($value, 10%) !important;
        color: #FFF;
      }
    }

  }
}

.btn-group-vertical {
  & .btn {
    margin-right: 5px;
    margin-left: 5px;
  }
  & .btn:first-child {
    margin-left: 0;
  }
  & .btn:last-child {
    margin-right: 0;
  }
}
