@import "colors";
@import "bootstrap/variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106

  background-color: $whiteColor;
  border-radius: 4px;

  height: $card-height;

  filter: drop-shadow(-8px 12px 18px rgba(25, 42, 70, 0.128567));

  margin-bottom: 40px;

  > .card-header {
    @extend h5;
    padding: 25px 29px 10px;

  }

  > .card-footer {
    @extend h5;
    padding: 10px 29px 25px;
  }

  > .card-body {
    padding: 9px 29px;

    > form .form-group:first-child {
      margin-top: 0;
    }
  }
}
